@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="jumbotron">
    <hgroup class="title text-center">
        <h2 class="header2">@ViewBag.Title.</h2>
    </hgroup>
    <div class="text-center">
        <p>
            Please check your email to reset your password.
        </p>
        @Html.ActionLink("Return to login","Login","Account",new { @class= "btn btn-link" })
    </div>
</div>
	
